.contact-section{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: bisque; */
}

.con-sec{
    /* background-color: red; */
    height: 65%;
    width: 80%;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .heading1{
        text-align: center;
        font-size: 3em;
    }
    .big-box{
        /* background-color: #fff; */
        /* height: 100%; */
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        .parts{
            /* background-color: beige; */
            height: 250px;
            width: 250px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            img{

                height: 130px;
                width: 130px;
            }
            .p1{
                text-align: center;
                font-size: 1.8em;
                font-weight: 600;
            }
            .p2{
                text-align: center;
                font-size: large;
            }
        }
    }
}

